form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    margin-bottom: 0.5em;
    display: block;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

table {
    border: 1px solid black;
    width: 100%;
    text-align: left;
    /* border-collapse: collapse; */
}

.remove-button {
    background-color: #f44336;
    color: "white";
    border: "none";
    padding: "0.5em";
    cursor: "pointer";
}

.toggle-button {
    background-color: #008CBA;
    color: "white";
    border: "none";
    margin-left: "0.5em";
    padding: "0.5em";
    cursor: "pointer";
}